.main-notes-cont {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.main-notes-cont.dark{
  background-color: rgb(0, 0, 0);

}

.toast{
  z-index: 500000;
}
.notes-cont-head {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(208, 208, 208);
}

.notes-cont-head .menu {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}
.notes-cont-head .menu_icon{
  display: none;
}
.notes-cont-head .menu .num_notes{
  background-color: rgb(239, 237, 237);
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 20px;
}

.menu_btn{
  background:none;
  outline:none;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  text-align: start;
  padding: 5px 10px;
  border-radius: 5px;
}
.menu_btn:hover{
    background-color: rgb(239, 237, 237);
}


.add_btn {
  position: absolute;
  top: 80px;
  right: 20px;
  cursor: pointer;
  font-size: 60px;
  width: 60px;
  height: 60px;
  background: none;
  outline: none;
  border: none;
  color: rgb(159, 167, 141);
  transition: 0.2s ease;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_btn:hover {
  color: black;
}
.notes-container {
  min-height: calc(100vh - 140px);
  width: 100%;
    margin: 20px auto;
    columns: 6;
    column-gap: 5px;
    padding: 20px;
}

.note {
  width: auto;
  height: auto;
  background: #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 10px 5px;
}
.note.dark {
  background-color: #000000;
} 
.note-head {
  background-color: #ffffff;
  width: 100%;
  padding: 2px 5px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.note-head h3 {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: capitalize;
  width: 70%;
}
.note-head .open_icon {
  font-size: 1rem;
}
.fav-btn{
  background:none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}
.fav-btn:hover{
  scale: 1.6;
}
.note-content {
  height: calc(100% - 50px);
  width: 100%;
  padding: 5px 15px;
  font-size: 0.8rem;
  cursor: text;
  background-color: white;
}

.create-note-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-note-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}

.show-note-modal .note-modal-contents {
 background-color: white;
  min-height: 600px;
  max-height: 800px;
  min-width: 350px;
  max-width: 600px;
  text-align: start;
  overflow: hidden;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  
}
.show-note-modal .note-modal-contents .note-modal-head {
  height: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1rem;
}
.show-note-modal
  .note-modal-contents
  .note-modal-head
  .note-modal-actions
  button {
  background: none;
  outline: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0px 5px;
  color: #050505;
  transition: 0.2s ease-in-out;
}
.show-note-modal
  .note-modal-contents
  .note-modal-head
  .note-modal-actions
  button:hover {
  color: black;
  font-weight: 600;
}
.show-note-modal .note-modal-contents .note-modal-content {
  height: calc(100% - 50px);
  max-height: 600px;
  width: 100%;
  padding: 10px 20px;
  font-size: 0.95rem;
  overflow-y: auto;
}
.modal-content {
 height: auto;
 max-height: 700px;
  background: #ffffff;
  padding: 20px;
  width: 400px;
  text-align: start;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(205, 205, 205);
}
.modal-content input,
.modal-content textarea {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  font-size: 1rem;
  background: #ffffff;
  color: black;
}
.modal-content input::placeholder,
.modal-content textarea::placeholder {
  color: black;
}

.modal-content textarea {
  height: 300px;
  border: none;
  outline: none;
}

.modal-content input {
  border: none;
  outline: none;
}

.modal-content .buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-content .buttons button {
  background: none;
  font-size: 1.6rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #000000;
  cursor: pointer;
}

.modal-content .buttons button:hover {
  color: black;
}
.modal-content .btn2 {
  background: rgb(14, 14, 14);
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 40%;
  border-radius: 5px;
}

@media (max-width: 400px) {
  .notes-container {
    padding: 50px 50px;
  }
  .note {
    width: 300px;
    height: 450px;
  }
  .modal-content {
    width: 350px;
  }
  .show-note-modal .note-modal-contents {
    width: 90%;
    text-align: start;
    overflow: hidden;
  }
  .notes-cont-head .menu {
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 20px;
    background-color: #e9b59c;
    height: 100vh;
    z-index: 1;
    position: fixed;
    left: 0;
    transform:translateX(-300px) ;
    transition: 0.2s ease ;
    box-shadow: 5px 5px 10px rgb(0, 0, 0,0.5);
  }
  .num_notes{
    margin-left: 50px;
  }
  .notes-cont-head .menu.show{
    display: flex;
    transform:translateX(0px) ;
  }
  .notes-cont-head .menu_icon{
    display: block;
    position: absolute;
  top: 70px;
  left: 20px;
  cursor: pointer;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
  }
  .notes-cont-head .menu .menu_cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .notes-cont-head .menu .menu_cont .menu_title {
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  .notes-cont-head .menu .menu_cont .menu_option{
    position: static;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    z-index: 1;
    display: block;
    margin-top: 20px;
    background-color: #fdd3c0;
  }

  .notes-cont-head .menu .menu_option li {
    height: 30px;
    list-style: none;
    border-bottom: 1px solid gray;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .notes-cont-head .menu .menu_option span {
    width: 70%;
    font-size: 1.1rem;
  }
  .notes-cont-head .menu .menu_cont .menu_option li div {
    height: 25px;
    width: 25px;
    background-color: red;
  }
  .notes-cont-head .menu .menu_cont:nth-child(4){
    width: 50%;
    justify-content: start;
    align-items: flex-start;
  }

  .no_fav{
  position: absolute;
  right: -5px;
  top: -2px;
  }
}
