@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #12c5f1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b900de; 
  cursor: pointer;
}

.main_cont{
  /* background-color: #fffa65; */
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

  

  .note input, .note textarea {
    width: 100%;
    margin-bottom: 5px;
  }
  

  
 
  
  .modal-content input,
  .modal-content textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
  }
  
  .modal-content button {
    margin: 5px;
    padding: 8px 12px;
  }


  .image-note-container {
    text-align: center;
    padding: 20px;
  }
  
  .preview {
    margin-top: 10px;
  }
  
  .preview-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  
  .note-card {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .note-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  

  